<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common :: meta-template"></div>

    <title>用户信息总览</title>
    <link th:href="@{/js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{/js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>
    <div th:replace="common :: favicon"></div>
    <div th:replace="common :: CommonCss"></div>

</head>

<body class="sticky-header">

<section>
    <!--    左侧边栏-->
    <div th:replace="common :: LeftSide"></div>

    <!-- 主要内容 -->
    <div class="main-content">

        <!--上方导航栏-->
        <div th:replace="common :: HeaderSection"></div>

        <!--页面内容头部-->
        <div class="page-heading">
            <h3>
                用户信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/main.html}">管理员主页</a>
                </li>
                <li>
                    <a th:href="@{/main.html}">用户总览</a>
                </li>
                <li class="active">查看所有的用户信息</li>
            </ul>
        </div>

        <!--内容体-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            用户列表
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped"
                                       id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>用户Id</th>
                                        <th>用户头像路径</th>
                                        <th>账号</th>
                                        <th class="hidden-phone">密码</th>
                                        <th class="hidden-phone">个性签名</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="user,status:${userPage.getRecords()}">
                                        <td th:text="${status.count}"></td>
                                        <td th:text="${user.userId}"></td>
                                        <td th:text="${user.userPortraitPath}"></td>
                                        <td th:text="${user.account}"></td>
                                        <td th:text="${user.password}" class="hidden-phone"></td>
                                        <td th:text="${user.userIntroduction}" class="hidden-phone"></td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" type="button"
                                               th:href="@{/admin/operation/remove_user(user_id=${user.userId},page_number=${userPage.current})}">删除用户</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            当前是第 [[${userPage.getCurrent()}]] 页,
                                            共      [[${userPage.getPages()}]] 页,
                                            总计    [[${userPage.getTotal()}]] 条记录
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <li class="prev">
                                                    <a th:href="@{/admin/user_overview/users_info(page_number=${userPage.current - 1})}">← 上一页</a>
                                                </li>
                                                <li th:class="${num == userPage.current?'active':''}"
                                                    th:each="num:${#numbers.sequence(1, userPage.pages)}">
                                                    <a th:href="@{/admin/user_overview/users_info(page_number=${num})}">[[${num}]]</a>
                                                </li>
                                                <li class="next">
                                                    <a th:href="@{/admin/user_overview/users_info(page_number=${userPage.current + 1})}">下一页 →</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!--页脚-->
        <footer th:include="common :: footer"></footer>


    </div>
</section>


<script type="text/javascript" th:src="@{/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/js/data-tables/DT_bootstrap.js}"></script>
<script th:src="@{/js/dynamic_table_init.js}"></script>
<div th:replace="common :: CommonJs"></div>
<div th:replace="common :: jsForAll"></div>

</body>
</html>
